POSTGRES_DB=taxi_warehouse
POSTGRES_USER=taxi_app
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=replace_with_local_password
PGADMIN_PORT=5050